# OS
.DS_Store

# python
__pycache__/
*.pyc

# Python virtualenv
.venv/
.venv312/

# dbt artifacts
target/
dbt_packages/
logs/

# env / secrets (direnv)
.env
.env.*
.envrc
.direnv/

# local dbt config (optional)
.user.yml

# Orchestration logs
orchestration/logs/
# editor
.vscode/

# backups
*.bak
